<div class="d-flex justify-content-center align-items-center login-page flex-column">
  <div>
    <img src="https://www.tacc.utexas.edu/documents/1084364/1721676/tapis-logo.png/" width="100px">
  </div>
  <div>
    <form (ngSubmit)="submit()" [formGroup]="loginForm">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log in</button>
    </form>
  </div>
</div>
