<div class="row">
  <div class="col col-md-2">
    <h3> Systems </h3>

    <ul class="list-group">
      <li class="list-group-item clickable"
          (click)="selectSystem(sys)"
          *ngFor="let sys of systemsListing$ | async"
          [ngClass]="{'active': sys===activeSystem}">
        {{ sys.name }}
      </li>
    </ul>
  </div>
  <div class="col col-md-10">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"> Name </th>
          <th scope="col"> Size </th>
          <th scope="col"> Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of listing$ | async ">
          <td>
            <i *ngIf="file.path.endsWith('/')" class="fa fa-folder-o fa-fw"> </i>
            <i *ngIf="!file.path.endsWith('/')" class="fa fa-file-o fa-fw"> </i>
            <span class="tapis-file-name clickable" (click)="preview(file)">{{ file.name }} </span>
          </td>
          <td>
            {{ file.size | filesize }}
          </td>
          <td>
            {{ file.lastModified | date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
