<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/tapis-logo-navbar.png" height="50px">
  </a>
</nav>
<div class="container-fluid">
  <app-data-browser></app-data-browser>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
        <div>
          <img src="https://www.nsf.gov/images/logos/NSF_AllBlack_bitmap_Logo.png" height="40px">
        </div>
        <div>
          <img src="https://www.tacc.utexas.edu/tacc-new-theme/images/logo.svg" height="40px">
        </div>
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/University_of_Hawaii_seal.svg/1024px-University_of_Hawaii_seal.svg.png" height="40px">
        </div>
    </div>
  </div>
</footer>
